<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>

<body>
    <div class="container">
        <h1
        style="
        font-family: 'Times New Roman', Times, serif;
        margin-top: 50px;
        "
        >URL Shortener</h1>
        <form action="/ShortenedURL" method="POST" class="my-4 form-inline" >
            <label class="sr-only" for="bigurl">URL</label>
            <input required placeholder="Enter URL" type="url" name="bigurl" id="bigurl" class="col-6">
            <button class="btn btn-primary col-2" type="submit">Shorten</button>
        </form>
        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th class="col-4">URL</th>
                    <th class="col-2">Shortened URL</th>
                    <th class="col-2">No. of Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% for (const shortUrl of shortUrls) { %>
                    <tr>
                        <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                        <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                        <td><%= shortUrl.clicks %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>
